* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: row-reverse; */
}

.display .singleDisplay {
  width: 25%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.display .singleDisplay img {
  width: 100%;
}

.setText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes {
  /* margin-right: 10px;
  margin-left: 10px; */
  margin: 0 10px;
}

.singleDisplay i {
  margin: 0 5px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.singleDisplay h3,
.singleDisplay p {
  margin-top: 0;
  margin-bottom: 0;
}

.singleDisplay .first h3 {
  font-size: 15px;
}

.singleDisplay .first p {
  font-size: 13px;
}

.second p {
  margin: 0;
}