* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.display {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: row-reverse; */
}

.display .singleDisplay {
  width: 25%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.display .singleDisplay img {
  width: 100%;
}

.setText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes {
  /* margin-right: 10px;
  margin-left: 10px; */
  margin: 0 10px;
}

.singleDisplay i {
  margin: 0 5px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.singleDisplay h3,
.singleDisplay p {
  margin-top: 0;
  margin-bottom: 0;
}

h3:hover {
  color: red;
  cursor: pointer;
}

.singleDisplay .first h3 {
  font-size: 15px;
}

.singleDisplay .first p {
  font-size: 13px;
}

.second p {
  margin: 0;
}

p::first-letter {
  color: red;
}

/* .display .singleDisplay:nth-child(1) {
  background: red;
}

.display .singleDisplay:nth-last-child(1) {
  background: blue;
} */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.pos {
  bottom: 30px;
  right: 30px;
  background: #45e862;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
}

.pos i {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.setPos {
  position: absolute;
  top: 20px;
  left: 20px;
}

.rel {
  position: relative;
  width: fit-content;
}

.pseudoHover {
  position: relative;
}

.singleDisplay:hover .pseudoHover::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  z-index: 5;
}

.singleDisplay:hover .pseudoHover::before {
  content: 'block';
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  z-index: 10;
}

@media (max-width: 600px) {
  .display .singleDisplay {
    width: 100%;
  }
  .container {
    max-width: 600px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .display .singleDisplay {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .display .singleDisplay {
    width: 50%;
  }
}